@font-face {
  font-family: 'inversionz';
    src: url('./fonts/Inversionz.eot'); /* IE9 Compat Modes */
    src: url('./fonts/Inversionz.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('./fonts/Inversionz.woff2') format('woff2'), /* Super Modern Browsers */
        url('./fonts/Inversionz.woff') format('woff'), /* Pretty Modern Browsers */
        url('./fonts/Inversionz.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  background-image: linear-gradient(180deg, #f0f0f0, #fcf7de);
  background-color: #e9e9e9; 
  height: 100%; 
  background-size: cover; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}

.height {
  min-height: 100vh;
}

/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  min-height: 100vh;
}
header {
  grid-area: header;
  background-color: #070216;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.header.row,
.header-left,
.header-right {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  height: 5rem;
  z-index: 5;
}

#header-right {
  display: none;
}

main {
  grid-area: main;
  margin-top: 5rem;
}

footer {
  grid-area: footer;
  background-color: #070216;
  color: #ffffff;
  justify-content: center;
}

.contact-container {
  background-color: black;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  padding: 1rem 0;
}

.contact-container form,
.contact-container .thanks {
  height: 10rem;
  width: 40rem;
}

.contact-container-card {
  width: 30rem;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
}

.contact-container-card p {
  width: 100%;
  text-decoration: underline;
  margin-bottom: 0.2rem;
}

.contact-container-card div {
  width: 30rem;
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  justify-content: space-around;
}


.contact-container-card a {
  color: #f0c040;
  padding: 2rem;
  transition: all 0.25;
  border-radius: 0.4rem;
  width: 100%;
  height: 4rem;
}

.actual div {
  flex-wrap: wrap;
}

.contact-container-card a:hover {
  color: #000;
  background-color: #f0c040;
}

.contact-container form {
  display: flex;
  flex-wrap: wrap;
  width: 30rem;
  justify-content: center;
}

.contact-container form label:first-child {
  font-size: 3rem;
  color: #f0c040;
}

.newsletter-button{
  background-color: #f0c040;
}

.newsletter-button,
.newsletter-input {
  border-radius: 0;
}

.thanks {
  display: none;
}

.thanks h1 {
  color: #f0c040;
  font-size: 3rem;
  margin: 0;
}

.thanks p {
  margin: 0;
}

.bottom-footer {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border-top: 2px solid #404040;
  padding: 2rem 0;
}

.bottom-footer a {
  color: #f0c040;
}

.bottom-footer p {
  color: #9b9b9b;
  font-size: 3rem;
}

.bottom-footer a,
.bottom-footer p {
  margin: 1rem 3rem;
}




/* Common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.4rem;
  padding: 1rem 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #211077;
}
a:hover {
  box-shadow: 0px 9px 6px 2px rgba(0,0,-4,0.1);
  border-radius: 3px;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  background-color: #f8f8f8;
  cursor: pointer;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #404040 solid;
}
button.primary {
  background-color: #f6dd07;
}
button.block {
  width: 100%;
}

button.small {
  font-size: 1.2rem;
}

.name {
  font-size: 2.2rem;
  margin: 0;
}

.desc {
  text-align: center;
  padding: 1rem;
}

.desc ul .price {
  font-size: 3rem;
}

/* Header */
header a {
  color: #ffffff;
  padding: 1rem;
  align-items: center;
}
a.brand {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
  padding: 0;
  width: 40rem;
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.mainLogo {
  width: 100%;
  display: none;
}

.smallLogo {
  height: 100%;
  display: block;
}

.badge {
  background-color: #f0c040;
  color: #000;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  font-weight: 700;
  margin-left: 0.2rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.hoeading {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
}

.row.top {
  align-items: flex-start;
}

.row.start {
  justify-content: flex-start;
}

.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}

.col-3 {
  flex: 32 1 75rem;
}

.min-30 {
  min-width: 30rem;
}

.p-1 {
  padding: 1rem;
}

.return {
  background-color: #f6dd07;
  margin: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.return:hover {
  color: #000;
  text-decoration: underline;
}

.container {
  margin-top: 1rem;
}

/* Aside */

aside {
  position: fixed;
  width:30rem;
  height: 100%;
  background-color: #efefef;
  z-index: 100;
  right: 0;
  transform: translateX(35rem);
  transition: all 0.5s;
  padding: 2rem;
  border-right: 2px solid #e9e9e9;
}

aside.open {
  transform: translateX(0);
}

button.open-sidebar {
  font-size: 3rem;
  padding: 0.2rem 0.5rem;
  margin: 0.5rem;
  background: none;
  color: #fff;
  cursor: pointer;
}

.fa-bars {
  color: #ebebeb;
}

.aside-place {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.aside-title {
  font-size: 2rem;
  font-weight: 600;
}


.cart-hold {
  margin: 2rem 0;
}

.cart-hold a {
  font-size: 2rem;
}

.aside {
   text-align: center;
}

.aside a {
  text-decoration: underline;
}

.aside-place a {
   width: 100%;
   text-align: right;
   margin: 0.5rem 0;
   padding-right: 6rem;
}

button.ope-sidebar:hover {
  border-color: #fff;
}

aside ul {
  padding: 0;
  list-style: none;
}

aside li {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

button.close-sidebar {
  padding: 0.3rem 0.8rem;
}

/* Image */
img {
  border-radius: 0.5rem;
}

img.small {
  max-width: 5rem;
  width: 100%;
}

img.medium {
  max-width: 29rem;
  width: 100%;
}

img.large {
  width: 100%;
}

#imageFile {
  background-color: #fff
}

.profile-pic {
  border-radius: 50%;
  border: solid 5px #fff;
  z-index: 1;
  position: relative;
}

/* Card */
.card {
  border: 0.1rem #ebe8e8 solid;
  background-color: #fff;
  border-radius: 0.5rem;
  margin: 1rem;
  width: 28rem;
  text-align: center;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}

.order-card {
  width: 80%;
}

.price {
  font-size: 2rem;
  font-weight: 700;
}
/* Rating */
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}

.rating span:last-child {
  color: #404040;
}

/* Product highlight */

.city {
  transform: rotate(-90deg) scale(1, 1.5);
  position: absolute;
  left: -15rem;
  top: 28rem;
  font-size: 6rem;
  z-index:1;
  opacity: 15%;
}

.city p {
    margin: 0;
}

.product-highlight {
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  width: 84%;
  min-height: 35rem;
  margin-left:3rem;
  z-index: 2;
  position:relative;
}

.product-highlight img {
  box-shadow: -5px 5px 15px 8px rgba(0, 0, 0, 0.2);
}

.image-row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 100%;
  padding: 1rem;
}

.image-row img {
  width: 16%;
}


/* Alert */

.loading {
  display: block !important;
}

.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}

.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
  text-align: center;
}
.alert-info {
  color: #000;
  background-color: #f0c040;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}

.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}

/* Form */
.form {
  max-width: 60rem;
  margin: 0 auto;
}

.product-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
}

.halved {
  width: 45%;
  margin: 1%;
}

.full {
  width: 98%;
  margin: 1%;
}

/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;
  z-index: 20;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 20;
  background-color: #203040;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
  z-index: 20;
}

/* Checkout Steps */
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: #f08000;
  color: #f08000;
}

/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}
.table button {
  margin: 0 0.2rem;
}

/* Search */

.search button {
  border-radius: 0 0.5rem 0.5rem 0;
  border-right: none;
  margin-right: 0.5rem;
}

.search input {
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: none;
  margin-left: 0.5rem;
}

.active {
  font-weight: bold;
}

/* Pagination */
.pagination a {
  padding: 1rem;
  margin: 0.5rem;
  color: #000;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pagination a:hover {
  background-color: #bbbbbb;
}
.pagination a.active {
  font-weight: bold;
  background-color: #f6dd07;
}


/* player details */

.player-details {
  font-size: 8rem;
  opacity: 15%;
}

.player-top-left {
  width: 50%;
  width: 15rem;
  text-align: left;
  margin-bottom: -7rem;
}

.player-bottom {
  text-align: right;
  margin-top: -9rem;
}

.player-showcase {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.player-showcase li {
  margin: 0;
}

.name-span {
  height: 3px;
  background-color: black;
  width: 4rem;
}

.yellow {
  background-color: #f6dd07;
  color: black;
}

img.card-large {
  width: 75%;
}

.update-name {
  width: 100%;
  text-align: center;
}

.update-name h1 {
  font-size: 3rem;
}

.margin-sides {
  margin: 0 1rem;
}

.strike {
  text-decoration: line-through;
}

.out-of-order {
  font-size: 1.25rem;
  font-weight: 600;
}

.payment-method {
  margin-top: 2rem; 
}

.reviews {
  margin: 1rem;
  padding: 1rem;
  background-color: #fcf7de;
  width: 14rem;
  border: solid 2px #e2e2e2;
  border-radius: 5px;
}

.review-container {
  display: flex;
  flex-wrap: nowrap;
}

.reviews:nth-child(2) {
  background-color: #faffee;
}

.no-reviews {
  margin: 1rem;
}

.banner {
  width: 70%;
  position: absolute;
  right: 0;
  top: -1px;
}

.bannerhold {
  position: relative;
}

.landingpage-row {
  display: flex;
  flex-wrap: nowrap;
}

.secondary-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.landingpage-row a:hover,
.secondary-row a:hover {
  box-shadow: none;
}

.secondary-row img {
  width: 35rem;
  transition: all 0.25s;
}

.secondary-row img:hover {
  transform: scale(1.1);
  transition: all 0.25s;
}

.landingpage-row a img {
  position: relative;
  transition: all 0.25s;
  width: 98%;
  z-index: 2;
}

.landingpage-row a img:hover {
  transform: scale(1.04);
  transition: all 0.25s;
}

.home-image {
  margin: 5rem;
  margin-top: 7em;
  background-size: cover;
  text-align: center;
  padding: 3rem;
}

.home-text {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 3rem;
  box-shadow: 5px 5px 15px 8px rgba(0, 0, 0, 0.2);
}

.home-text h1 {
  font-size: 10rem;
  font-family: inversionz, Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  font-weight: 400;
}


.locations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 4em;
}

.locations h1 {
  width: 50rem;
  font-size: 7rem;
  font-family: inversionz, Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

.info-card-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.info-holder {
  width: 50rem;
  margin: 0 3rem;
}

.info-holder img {
  width: 50rem;
}

.this-is-home-text {
  font-size: 10rem;
  margin: 0 0 3rem;
  font-family: inversionz, Verdana, Geneva, Tahoma, sans-serif;
}

.charity-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.charity-links {
  margin:  1rem;
  text-decoration: underline;
  color: white;
}

.discounts {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #525252;
  color: white;
  width: 100%;
  position: fixed;
  top: 50px;
  text-align: center;
  padding: 0.5rem;
  z-index: 5;
}

.discounts h1 {
  font-size: 2.5rem;
  padding: 0;
  font-style: italic;
}

.discounts h1,
.discounts p,
.discounts h6 {
  margin: 0;
}

.bridge {
  width: 100%;
  height: 12rem;
  margin: 3rem 0 -0.5rem 0;
}

.not-found {
  min-height: 80vh;
  padding:  0 5rem 5rem; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  width: 50%;
}

.x {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}
.x h1 {
  width: 100%;
  text-align: center;
  font-size: 10rem;
  margin: 0;

}
.x a {
  margin: 0;
  height: 2rem;
  font-size: 2rem;
  font-weight: 600;
}

.image-hold-left img {
  width: 100%;
}

.image-hold-left {
  width: 70%;
}

.image-hold-right {
  text-align: center;
  width: 30%;
  display: block;
}

.image-hold-right img,
.image-hold-right p,
.image-hold-right a {
  width: 100%;
  font-size: 2rem;
}

.image-hold-right a {
  color: #1f08a0;
}

.not-found h1 {
  font-size: 9rem;
  width: 100%;
  margin: 0;
  padding-top: 0;
}



/* Media Queries */

@media (min-width: 769px) {
  .mainLogo {
    display: block;
  }
  
  .smallLogo {
    display: none;
  }


  .open-sidebar {
    display: none;
  }

  #header-right {
    display: flex;
  }
}